<mat-card class="rounded-4">
    <mat-card-content class="p-4">
        <div class="position-relative mb-5">
            <img src="assets/images/gallery/profile-cover.png" class="img-fluid rounded-4" alt="">
            <div class="position-absolute top-100 start-50 translate-middle">
              <img src="https://placehold.co/110x110" width="170" height="170" class="rounded-circle raised p-1 mat-bg-white mat-elevation-z8" alt="">
            </div>
          </div>
          <div class="pt-5 d-flex flex-column flex-lg-row align-items-start justify-content-between gap-4">
            <div class="">
              <h3 class="mb-2">{{usercon.firstName}} {{usercon.lastName}}</h3>
             <!--  <p class="mb-1">Engineer at BB Agency Industry</p>
              <p>New York, United States</p>
              <div class="d-flex align-items-center flex-column flex-lg-row gap-3 mt-3">
                <button mat-stroked-button class="rounded-pill px-3">UX Research</button>
                <button mat-stroked-button class="rounded-pill px-3">CX Strategy</button>
                <button mat-stroked-button class="rounded-pill px-3">Project Management</button>
              </div> -->
            </div>
            <!-- <div class="">
                <button mat-flat-button color="primary" class="rounded-pill px-3">Send Message</button>
            </div> -->
          </div>

    </mat-card-content>
</mat-card>


<div class="row">
    <div class="col-12 col-xl-8">
        <mat-card class="rounded-4">
            <mat-card-content class="p-4">
                <div class="d-flex flex-row gap-3 align-items-center justify-content-between mb-3">
                    <div class="">
                        <h5 class="">Edit Profile</h5>
                    </div>
                    <div>
                      <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu" class="rounded-4">
                        <button mat-menu-item>
                          <mat-icon class="material-icons-outlined">visibility</mat-icon>
                          <span>View</span>
                        </button>
                        <button mat-menu-item>
                          <mat-icon class="material-icons-outlined">edit</mat-icon>
                          <span>Edit</span>
                        </button>
                        <button mat-menu-item>
                          <mat-icon class="material-icons-outlined">delete</mat-icon>
                          <span>Delete</span>
                        </button>
                      </mat-menu>
                    </div>
                  </div>  

                 <div class="row g-3">
                    <!-- <div class="col-12 col-md-6">
                        <mat-form-field class="w-100" appearance="outline">
                          <mat-label>Username</mat-label>
                          <input matInput placeholder="Ex. Jhon" value="deo.jhon">
                        </mat-form-field>
                    </div>  -->  
                    <div class="col-12 col-md-6">
                      <mat-form-field class="w-100" appearance="outline">
                          <mat-label>First Name</mat-label>
                          <input matInput placeholder="Ex. Jhon"  [(ngModel)]="usercon.firstName" name="firstName">
                        </mat-form-field>
                  </div>  
                    <div class="col-12 col-md-6">
                      <mat-form-field class="w-100" appearance="outline">
                          <mat-label>Last Name</mat-label>
                          <input matInput placeholder="Ex. Deo"  [(ngModel)]="usercon.lastName" name="lastName">
                        </mat-form-field>
                  </div>
                    <div class="col-12 col-md-6">
                      <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Ex. xyz@.com" [(ngModel)]="usercon.email" name="email">
                      </mat-form-field>
                    </div>  
                   
                  
                  
                    <div class="col-12 col-md-6">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Phone</mat-label>
                            <input matInput placeholder="Ex. 88XX25X65" [(ngModel)]="usercon.phone" name="phone">
                          </mat-form-field>
                    </div>
                    
                    
                    <div class="col-12 col-md-12">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>adress</mat-label>
                            <input matInput placeholder="Ex. @#45gh" [(ngModel)]="usercon.adress" name="adress">
                          </mat-form-field>
                    </div> 
                    
                    
                   <!--  <div class="col-12 col-md-12">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>DOB</mat-label>
                            <input matInput [matDatepicker]="picker3">
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                            <mat-datepicker #picker3></mat-datepicker>
                        </mat-form-field>
                    </div>  -->
                   <!--  <div class="col-12 col-md-12">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Country</mat-label>
                            <mat-select>
                              <mat-option>None</mat-option>
                              <mat-option *ngFor="let country of countries" [value]="country">{{country}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div> -->
                    <!-- <div class="col-12 col-md-5">
                        <mat-form-field class="w-100" appearance="outline">
                          <mat-label>City</mat-label>
                          <input matInput placeholder="Enter City Name" value="New York">
                         </mat-form-field>
                    </div>  --> 
                <!--     <div class="col-12 col-md-4">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>State</mat-label>
                            <mat-select>
                              <mat-option>None</mat-option>
                              <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
                            </mat-select>
                         </mat-form-field>
                    </div> -->
                  <!--   <div class="col-12 col-md-3">
                        <mat-form-field class="w-100" appearance="outline">
                          <mat-label>Zip</mat-label>
                          <input matInput placeholder="Zip Code" value="200100">
                        </mat-form-field>
                    </div>  --> 
                 <!--    <div class="col-12 col-md-12">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>About Me</mat-label>
                            <textarea matInput placeholder="Ex. It makes me feel..." value="A beautiful premium dashboard for Angular Material."></textarea>
                          </mat-form-field>
                    </div> -->
                    <div class="col-12 col-md-12">
                        <div class="d-flex gap-3">
                            <button (click)="updateuser()" mat-flat-button color="primary" class="px-4">Update Profile</button>
                            <button mat-stroked-button class="px-4">Reset</button>
                        </div>
                    </div>
                </div><!--end row-->
            </mat-card-content>
        </mat-card>
    </div>
  
</div>

