<!-- 


<mat-card>
    <mat-card-content>
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" >
            <mat-tab *ngFor="let niveau of niveaux" >
                <ng-template mat-tab-label class="label">
                    <mat-icon class="example-tab-icon">dvr</mat-icon>
                    {{niveau.nom}}
                </ng-template>
                <div class="py-3">
                    <div class="row row-cols-1 row-cols-lg-4 g-4">
                        <div class="col">
                          <img class="img-fluid"
                            src="https://placehold.co/300x300"
                            alt="">
                        </div>
                        <div class="col">
                          <img class="img-fluid"
                           src="https://placehold.co/300x300"
                            alt="">
                        </div>
                        <div class="col">
                          <img class="img-fluid"
                          src="https://placehold.co/300x300"
                            alt="">
                        </div>
                        <div class="col">
                          <img class="img-fluid"
                          src="https://placehold.co/300x300"
                            alt="">
                        </div>
                        <div class="col">
                          <img class="img-fluid" src="https://placehold.co/300x300" alt="">
                        </div>
                        <div class="col">
                          <img class="img-fluid" src="https://placehold.co/300x300" alt="">
                        </div>
                        <div class="col">
                          <img class="img-fluid" src="https://placehold.co/300x300" alt="">
                        </div>
                        <div class="col">
                          <img class="img-fluid" src="https://placehold.co/300x300" alt="">
                        </div>
                       
                      </div>
                </div>
            </mat-tab>

        
        </mat-tab-group>
    </mat-card-content>
</mat-card> -->