.custom-width {
    width: 90px; /* Vous pouvez ajuster cette valeur pour la largeur souhaitée */
  }

.table-header {
    background-color: #aa0959;
    /* Couleur rose */
    color: white;
}

.table th,
.table td {
    vertical-align: middle;
}

.text-center {
    text-align: center;
}
