<h6 class="mb-0 text-uppercase">Static Widgets</h6>
<hr>
<div class="row row-cols-1 row-cols-lg-2 row-cols-xxl-4">
    <div class="col">
        <mat-card class="rounded-4 border-3 border-start border-green">
            <mat-card-content>
                <div class="d-flex flex-row gap-3 align-items-center justify-content-between">
                    <div class="">
                        <span class="material-icons-outlined text-green fs-2">account_balance_wallet</span>
                    </div>
                    <div>
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item>
                                <mat-icon class="material-icons-outlined">visibility</mat-icon>
                                <span>View</span>
                            </button>
                            <button mat-menu-item>
                                <mat-icon class="material-icons-outlined">edit</mat-icon>
                                <span>Edit</span>
                            </button>
                            <button mat-menu-item>
                                <mat-icon class="material-icons-outlined">delete</mat-icon>
                                <span>Delete</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
                <div class="mt-3 d-flex align-items-center justify-content-between">
                    <div class="">
                        <h4 class="mb-0">$98,462</h4>
                        <p class="mb-0">Total Sales</p>
                    </div>
                    <div class="card-lable mat-light-bg-green">
                        <p class="text-green">+28.5%</p>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col">
        <mat-card class="rounded-4 border-3 border-start border-red">
            <mat-card-content>
                <div class="d-flex flex-row gap-3 align-items-center justify-content-between">
                    <div class="">
                        <span class="material-icons-outlined text-red fs-2">notifications</span>
                    </div>
                    <div>
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item>
                                <mat-icon class="material-icons-outlined">visibility</mat-icon>
                                <span>View</span>
                            </button>
                            <button mat-menu-item>
                                <mat-icon class="material-icons-outlined">edit</mat-icon>
                                <span>Edit</span>
                            </button>
                            <button mat-menu-item>
                                <mat-icon class="material-icons-outlined">delete</mat-icon>
                                <span>Delete</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
                <div class="mt-3 d-flex align-items-center justify-content-between">
                    <div class="">
                        <h4 class="mb-0">8597</h4>
                        <p class="mb-0">Total Views</p>
                    </div>
                    <div class="card-lable mat-light-bg-red">
                        <p class="text-red">-45.6%</p>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col">
        <mat-card class="rounded-4 border-3 border-start border-purple">
            <mat-card-content>
                <div class="d-flex flex-row gap-3 align-items-center justify-content-between">
                    <div class="">
                        <span class="material-icons-outlined text-purple fs-2">account_circle</span>
                    </div>
                    <div>
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item>
                                <mat-icon class="material-icons-outlined">visibility</mat-icon>
                                <span>View</span>
                            </button>
                            <button mat-menu-item>
                                <mat-icon class="material-icons-outlined">edit</mat-icon>
                                <span>Edit</span>
                            </button>
                            <button mat-menu-item>
                                <mat-icon class="material-icons-outlined">delete</mat-icon>
                                <span>Delete</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
                <div class="mt-3 d-flex align-items-center justify-content-between">
                    <div class="">
                        <h4 class="mb-0">6849</h4>
                        <p class="mb-0">Sessions</p>
                    </div>
                    <div class="card-lable mat-light-bg-purple">
                        <p class="text-purple">+28.5%</p>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col">
        <mat-card class="rounded-4 border-3 border-start border-pink">
            <mat-card-content>
                <div class="d-flex flex-row gap-3 align-items-center justify-content-between">
                    <div class="">
                        <span class="material-icons-outlined text-pink fs-2">bookmarks</span>
                    </div>
                    <div>
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item>
                                <mat-icon class="material-icons-outlined">visibility</mat-icon>
                                <span>View</span>
                            </button>
                            <button mat-menu-item>
                                <mat-icon class="material-icons-outlined">edit</mat-icon>
                                <span>Edit</span>
                            </button>
                            <button mat-menu-item>
                                <mat-icon class="material-icons-outlined">delete</mat-icon>
                                <span>Delete</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
                <div class="mt-3 d-flex align-items-center justify-content-between">
                    <div class="">
                        <h4 class="mb-0">5478</h4>
                        <p class="mb-0">Impressions</p>
                    </div>
                    <div class="card-lable mat-light-bg-green">
                        <p class="text-green">-15.7%</p>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div><!--end row-->

<div class="row row-cols-1 row-cols-lg-2 row-cols-xxl-4">
  <div class="col">
    <mat-card class="border-start border-4 border-pink rounded-4">
        <mat-card-content>
            <div class="d-flex align-items-center justify-content-between">
                <div>
                    <p class="mb-2">Total Orders</p>
                    <h4 class="mb-0">28.4K</h4>
                </div>
                <div class="">
                    <mat-icon class="text-pink fs-2 material-icons-outlined">shopping_cart</mat-icon>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
  </div>
  <div class="col">
    <mat-card class="border-start border-4 border-purple rounded-4">
        <mat-card-content>
            <div class="d-flex align-items-center justify-content-between">
                <div>
                    <p class="mb-2">Total Income</p>
                    <h4 class="mb-0">$45M</h4>
                </div>
                <div class="">
                    <mat-icon class="text-purple fs-2 material-icons-outlined">account_balance</mat-icon>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
  </div>
  <div class="col">
    <mat-card class="border-start border-4 border-blue rounded-4">
        <mat-card-content>
            <div class="d-flex align-items-center justify-content-between">
                <div>
                    <p class="mb-2">Total Users</p>
                    <h4 class="mb-0">4.2K</h4>
                </div>
                <div class="">
                    <mat-icon class="text-blue fs-2 material-icons-outlined">group</mat-icon>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
  </div>
  <div class="col">
    <mat-card class="border-start border-4 border-green rounded-4">
        <mat-card-content>
            <div class="d-flex align-items-center justify-content-between">
                <div>
                    <p class="mb-2">Bounce Rate</p>
                    <h4 class="mb-0">14.26%</h4>
                </div>
                <div class="">
                    <mat-icon class="text-green fs-2 material-icons-outlined">donut_large</mat-icon>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
  </div>

</div><!--end row-->


<div class="row row-cols-1 row-cols-lg-2 row-cols-xxl-4">
    <div class="col">
      <mat-card class="mat-bg-pink rounded-4">
          <mat-card-content>
              <div class="d-flex align-items-center justify-content-between">
                  <div>
                      <p class="mb-2 text-white">Total Orders</p>
                      <h4 class="mb-0 text-white">28.4K</h4>
                  </div>
                  <div class="">
                      <mat-icon class="text-pink fs-2 material-icons-outlined text-white">shopping_cart</mat-icon>
                  </div>
              </div>
          </mat-card-content>
      </mat-card>
    </div>
    <div class="col">
      <mat-card class="mat-bg-teal rounded-4">
          <mat-card-content>
              <div class="d-flex align-items-center justify-content-between">
                  <div>
                      <p class="mb-2 text-white">Total Income</p>
                      <h4 class="mb-0 text-white">$45M</h4>
                  </div>
                  <div class="">
                      <mat-icon class="text-purple fs-2 material-icons-outlined text-white">account_balance</mat-icon>
                  </div>
              </div>
          </mat-card-content>
      </mat-card>
    </div>
    <div class="col">
      <mat-card class="mat-bg-yellow rounded-4">
          <mat-card-content>
              <div class="d-flex align-items-center justify-content-between">
                  <div>
                      <p class="mb-2 text-dark">Total Users</p>
                      <h4 class="mb-0 text-dark">4.2K</h4>
                  </div>
                  <div class="">
                      <mat-icon class="text-blue fs-2 material-icons-outlined text-dark">group</mat-icon>
                  </div>
              </div>
          </mat-card-content>
      </mat-card>
    </div>
    <div class="col">
      <mat-card class="mat-bg-blue-grey rounded-4">
          <mat-card-content>
              <div class="d-flex align-items-center justify-content-between">
                  <div>
                      <p class="mb-2 text-white">Bounce Rate</p>
                      <h4 class="mb-0 text-white">14.26%</h4>
                  </div>
                  <div class="">
                      <mat-icon class="text-green fs-2 material-icons-outlined text-white">donut_large</mat-icon>
                  </div>
              </div>
          </mat-card-content>
      </mat-card>
    </div>
  
  </div><!--end row-->


<div class="row row-cols-1 row-cols-lg-2 row-cols-xxl-4">
    <div class="col">
      <mat-card class="rounded-4">
          <mat-card-content>
              <div class="d-flex align-items-center justify-content-between">
                  <div>
                      <p class="mb-2">Total Orders</p>
                      <h4 class="mb-0">9854</h4>
                      <p class="mt-0 mb-0 font-13 d-flex align-items-center"><mat-icon>expand_less</mat-icon>12.4% from last month</p>
                  </div>
                  <div class="">
                      <mat-icon class="widget-icon mat-light-bg-indigo text-indigo material-icons-outlined">local_mall</mat-icon>
                  </div>
              </div>
          </mat-card-content>
      </mat-card>
    </div>
    <div class="col">
        <mat-card class="rounded-4">
            <mat-card-content>
                <div class="d-flex align-items-center justify-content-between">
                    <div>
                        <p class="mb-2">Total Income</p>
                        <h4 class="mb-0">$48.5K</h4>
                        <p class="mt-0 mb-0 font-13 d-flex align-items-center"><mat-icon>expand_less</mat-icon>12.4% from last month</p>
                    </div>
                    <div class="">
                        <mat-icon class="widget-icon mat-light-bg-teal text-teal material-icons-outlined">account_balance_wallet</mat-icon>
                    </div>
                </div>
                
            </mat-card-content>
        </mat-card>
      </div>
      <div class="col">
        <mat-card class="rounded-4">
            <mat-card-content>
                <div class="d-flex align-items-center justify-content-between">
                    <div>
                        <p class="mb-2">Total Customers</p>
                        <h4 class="mb-0">14.6K</h4>
                        <p class="mt-0 mb-0 font-13 d-flex align-items-center"><mat-icon>expand_less</mat-icon>12.4% from last month</p>
                    </div>
                    <div class="">
                        <mat-icon class="widget-icon mat-light-bg-pink text-pink material-icons-outlined">group</mat-icon>
                    </div>
                </div>
                
            </mat-card-content>
        </mat-card>
      </div>
      <div class="col">
        <mat-card class="rounded-4">
            <mat-card-content>
                <div class="d-flex align-items-center justify-content-between">
                    <div>
                        <p class="mb-2">Bounce Rate</p>
                        <h4 class="mb-0">24.5%</h4>
                        <p class="mt-0 mb-0 font-13 d-flex align-items-center"><mat-icon>expand_less</mat-icon>12.4% from last month</p>
                    </div>
                    <div class="">
                        <mat-icon class="widget-icon mat-light-bg-green text-green material-icons-outlined">leaderboard</mat-icon>
                    </div>
                </div>
                
            </mat-card-content>
        </mat-card>
      </div>
</div><!--end row-->


<div class="row row-cols-1 row-cols-lg-2 row-cols-xxl-4">
    <div class="col">
        <mat-card class="rounded-4">
        <mat-card-content>
            <div class="d-flex flex-row gap-3 align-items-center justify-content-between">
                <div class="">
                    <span class="material-icons-outlined text-green fs-1">account_balance_wallet</span>
                </div>
                <div>
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                          <mat-icon class="material-icons-outlined">visibility</mat-icon>
                          <span>View</span>
                        </button>
                        <button mat-menu-item>
                          <mat-icon class="material-icons-outlined">edit</mat-icon>
                          <span>Edit</span>
                        </button>
                        <button mat-menu-item>
                          <mat-icon class="material-icons-outlined">delete</mat-icon>
                          <span>Delete</span>
                        </button>
                      </mat-menu>
                </div>
            </div>
            <div class="mt-3 d-flex align-items-center justify-content-between">
                <div class="">
                    <h3>$98,462</h3>
                    <p>Bank Balance</p>
                </div>
                <div class="card-lable mat-light-bg-green">
                    <p class="text-green">+28.5%</p>
                </div>
            </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col">
        <mat-card class="rounded-4">
        <mat-card-content>
            <div class="d-flex flex-row gap-3 align-items-center justify-content-between">
                <div class="">
                    <span class="material-icons-outlined text-red fs-1">notifications</span>
                </div>
                <div>
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                          <mat-icon class="material-icons-outlined">visibility</mat-icon>
                          <span>View</span>
                        </button>
                        <button mat-menu-item>
                          <mat-icon class="material-icons-outlined">edit</mat-icon>
                          <span>Edit</span>
                        </button>
                        <button mat-menu-item>
                          <mat-icon class="material-icons-outlined">delete</mat-icon>
                          <span>Delete</span>
                        </button>
                      </mat-menu>
                </div>
            </div>
            <div class="mt-3 d-flex align-items-center justify-content-between">
                <div class="">
                    <h3>859</h3>
                    <p>Notifications</p>
                </div>
                <div class="card-lable mat-light-bg-red">
                    <p class="text-red">-45.6%</p>
                </div>
            </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col">
        <mat-card class="rounded-4">
        <mat-card-content>
            <div class="d-flex flex-row gap-3 align-items-center justify-content-between">
                <div class="">
                    <span class="material-icons-outlined text-purple fs-1">account_circle</span>
                </div>
                <div>
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                          <mat-icon class="material-icons-outlined">visibility</mat-icon>
                          <span>View</span>
                        </button>
                        <button mat-menu-item>
                          <mat-icon class="material-icons-outlined">edit</mat-icon>
                          <span>Edit</span>
                        </button>
                        <button mat-menu-item>
                          <mat-icon class="material-icons-outlined">delete</mat-icon>
                          <span>Delete</span>
                        </button>
                      </mat-menu>
                </div>
            </div>
            <div class="mt-3 d-flex align-items-center justify-content-between">
                <div class="">
                    <h3>56.8K</h3>
                    <p>Customers</p>
                </div>
                <div class="card-lable mat-light-bg-purple">
                    <p class="text-purple">+28.5%</p>
                </div>
            </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col">
        <mat-card class="rounded-4">
        <mat-card-content>
            <div class="d-flex flex-row gap-3 align-items-center justify-content-between">
                <div class="">
                    <span class="material-icons-outlined text-pink fs-1">bookmarks</span>
                </div>
                <div>
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                          <mat-icon class="material-icons-outlined">visibility</mat-icon>
                          <span>View</span>
                        </button>
                        <button mat-menu-item>
                          <mat-icon class="material-icons-outlined">edit</mat-icon>
                          <span>Edit</span>
                        </button>
                        <button mat-menu-item>
                          <mat-icon class="material-icons-outlined">delete</mat-icon>
                          <span>Delete</span>
                        </button>
                      </mat-menu>
                </div>
            </div>
            <div class="mt-3 d-flex align-items-center justify-content-between">
                <div class="">
                    <h3>5478</h3>
                    <p>Bookmarks</p>
                </div>
                <div class="card-lable mat-light-bg-red">
                    <p class="text-red">-15.7%</p>
                </div>
            </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div><!--end row-->


<div class="row row-cols-1 row-cols-lg-2 row-cols-xxl-4">
    <div class="col">
      <mat-card class="text-center mat-bg-blue rounded-4">
          <mat-card-content>
              <div class="d-flex flex-column gap-3 align-items-center justify-content-between">
                <div class="fs-1 text-white">
                    <i class='bx bxl-facebook-circle'></i>
                </div>
                <div>
                    <h4 class="mb-0 text-white">34.8M</h4>
                    <p class="mb-0 text-white">Facebook Users</p>
                </div>
              </div>
          </mat-card-content>
      </mat-card>
    </div>
    <div class="col">
        <mat-card class="text-center mat-bg-indigo rounded-4">
            <mat-card-content>
                <div class="d-flex flex-column gap-3 align-items-center justify-content-between">
                  <div class="fs-1 text-white">
                    <i class='bx bxl-linkedin-square'></i>
                  </div>
                  <div>
                      <h4 class="mb-0 text-white">56.7M</h4>
                      <p class="mb-0 text-white">Linkedin Users</p>
                  </div>
                </div>
            </mat-card-content>
        </mat-card>
      </div>
      <div class="col">
        <mat-card class="text-center mat-bg-light-blue rounded-4">
            <mat-card-content>
                <div class="d-flex flex-column gap-3 align-items-center justify-content-between">
                  <div class="fs-1 text-white">
                    <i class='bx bxl-twitter'></i>
                  </div>
                  <div>
                      <h4 class="mb-0 text-white">68.4M</h4>
                      <p class="mb-0 text-white">Twitter Users</p>
                  </div>
                </div>
            </mat-card-content>
        </mat-card>
      </div>
      <div class="col">
        <mat-card class="text-center mat-bg-red rounded-4">
            <mat-card-content>
                <div class="d-flex flex-column gap-3 align-items-center justify-content-between">
                  <div class="fs-1 text-white">
                    <i class='bx bxl-youtube'></i>
                  </div>
                  <div>
                      <h4 class="mb-0 text-white">124.8K</h4>
                      <p class="mb-0 text-white">YouTube Subscribers</p>
                  </div>
                </div>
            </mat-card-content>
        </mat-card>
      </div>
      <div class="col">
        <mat-card class="text-center mat-bg-dark rounded-4">
            <mat-card-content>
                <div class="d-flex flex-column gap-3 align-items-center justify-content-between">
                  <div class="fs-1 text-white">
                    <i class='bx bxl-apple'></i>
                  </div>
                  <div>
                      <h4 class="mb-0 text-white">584K</h4>
                      <p class="mb-0 text-white">Apple Accounts</p>
                  </div>
                </div>
            </mat-card-content>
        </mat-card>
      </div>
  
  </div><!--end row-->
  
  

  <div class="row row-cols-1 row-cols-lg-3 row-cols-xl-3 row-cols-xxl-6">
    <div class="col">
        <mat-card class="text-center rounded-4">
        <mat-card-content>
            <div class="d-flex flex-column gap-3 align-items-center justify-content-between">
                <div class="widget-icon mat-bg-red text-white">
                    <i class='bx bxl-wordpress fs-2'></i>
                </div>
                <div>
                    <p class="mb-0">WordPress</p>
                </div>
            </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col">
        <mat-card class="text-center rounded-4">
        <mat-card-content>
            <div class="d-flex flex-column gap-3 align-items-center justify-content-between">
                <div class="widget-icon mat-bg-pink text-white">
                    <i class='bx bxl-html5 fs-2'></i>
                </div>
                <div>
                    <p class="mb-0">HTML5</p>
                </div>
            </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col">
        <mat-card class="text-center rounded-4">
        <mat-card-content>
            <div class="d-flex flex-column gap-3 align-items-center justify-content-between">
                <div class="widget-icon mat-bg-purple text-white">
                    <i class='bx bxl-shopify fs-2'></i>
                </div>
                <div>
                    <p class="mb-0">Shopify</p>
                </div>
            </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col">
        <mat-card class="text-center rounded-4">
        <mat-card-content>
            <div class="d-flex flex-column gap-3 align-items-center justify-content-between">
                <div class="widget-icon mat-bg-deep-purple text-white">
                    <i class='bx bxl-meta fs-2'></i>
                </div>
                <div>
                    <p class="mb-0">Meta</p>
                </div>
            </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col">
        <mat-card class="text-center rounded-4">
        <mat-card-content>
            <div class="d-flex flex-column gap-3 align-items-center justify-content-between">
                <div class="widget-icon mat-bg-indigo text-white">
                    <i class='bx bxl-skype fs-2'></i>
                </div>
                <div>
                    <p class="mb-0">Skype</p>
                </div>
            </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col">
        <mat-card class="text-center rounded-4">
        <mat-card-content>
            <div class="d-flex flex-column gap-3 align-items-center justify-content-between">
                <div class="widget-icon mat-bg-blue text-white">
                    <i class='bx bxl-play-store fs-2'></i>
                </div>
                <div>
                    <p class="mb-0">PlayStore</p>
                </div>
            </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col">
        <mat-card class="text-center rounded-4">
        <mat-card-content>
            <div class="d-flex flex-column gap-3 align-items-center justify-content-between">
                <div class="widget-icon mat-bg-light-blue text-white">
                    <i class='bx bxl-windows fs-2'></i>
                </div>
                <div>
                    <p class="mb-0">Windows</p>
                </div>
            </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col">
        <mat-card class="text-center rounded-4">
        <mat-card-content>
            <div class="d-flex flex-column gap-3 align-items-center justify-content-between">
                <div class="widget-icon mat-bg-cyne text-white">
                    <i class='bx bxl-slack fs-2'></i>
                </div>
                <div>
                    <p class="mb-0">Slack</p>
                </div>
            </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col">
        <mat-card class="text-center rounded-4">
        <mat-card-content>
            <div class="d-flex flex-column gap-3 align-items-center justify-content-between">
                <div class="widget-icon mat-bg-teal text-white">
                    <i class='bx bxl-angular fs-2'></i>
                </div>
                <div>
                    <p class="mb-0">Angular</p>
                </div>
            </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col">
        <mat-card class="text-center rounded-4">
        <mat-card-content>
            <div class="d-flex flex-column gap-3 align-items-center justify-content-between">
                <div class="widget-icon mat-bg-green text-white">
                    <i class='bx bxl-tiktok fs-2'></i>
                </div>
                <div>
                    <p class="mb-0">Tiktok</p>
                </div>
            </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col">
        <mat-card class="text-center rounded-4">
        <mat-card-content>
            <div class="d-flex flex-column gap-3 align-items-center justify-content-between">
                <div class="widget-icon mat-bg-yellow text-dark">
                    <i class='bx bxl-github fs-2'></i>
                </div>
                <div>
                    <p class="mb-0">GitHub</p>
                </div>
            </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col">
        <mat-card class="text-center rounded-4">
        <mat-card-content>
            <div class="d-flex flex-column gap-3 align-items-center justify-content-between">
                <div class="widget-icon mat-bg-orange text-white">
                    <i class='bx bxl-jquery fs-2'></i>
                </div>
                <div>
                    <p class="mb-0">Jquery</p>
                </div>
            </div>
        </mat-card-content>
      </mat-card>
    </div>
    
  </div><!--end row-->


  