
<!-- <div class="container mt-1"> -->

    <!-- <div class="row g-4"> -->
        <!-- <div class="col-6 col-xl-6 mx-auto" style="max-width: 700px;"> -->
             
          <mat-card class="rounded-4 container" style="width: 600px;">
              <mat-card-content class="p-2">
                <div class="text-center">
                  <img style="margin-top: -30px;" src="../../../assets/images/logo/mastergo.png"
                  width="300" height="180" alt="">
                  <h4 class="mb-2" style="margin-top: -50px;">Ajouter un enseignant</h4>                   
                </div>

                <ng-container [ngSwitch]="getScheduleType()">
                <!-- Student Form STart -->
                  <form [formGroup]="studentSignupForm" (ngSubmit)="signUpStudent()" class="row g-1" >
                     <div class="col-6 col-md-6">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Nom <span>*</span></mat-label>
                            <input matInput placeholder="Ex. @jhon" formControlName="firstName">
                            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                          </mat-form-field>
                          <p  *ngIf="studentSignupForm.get('firstName').invalid && studentSignupForm.get('firstName').touched" class="message-erreur">
                            *champ Vide 
                            </p>
                      </div> 
                      <div class="col-6 col-md-6">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Prenom <span>*</span></mat-label>
                            <input matInput placeholder="Ex. @jhon" formControlName="lastName">
                            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                          </mat-form-field>
                          <p  *ngIf="studentSignupForm.get('lastName').invalid && studentSignupForm.get('lastName').touched" class="message-erreur">
                            *champ Vide 
                            </p>
                      </div> 
                      <div class="col-12 col-md-12">
                          <mat-form-field class="w-100" appearance="outline">
                              <mat-label>Email *</mat-label>
                              <input matInput placeholder="Ex. xyz@.com" formControlName="email">
                              <mat-icon matSuffix>email</mat-icon>
                            </mat-form-field>
                            <p  *ngIf="studentSignupForm.get('email').invalid && studentSignupForm.get('email').touched" class="message-erreur">
                              *Veuillez saisir votre email
                              </p>
                      </div>  
                      <div class="col-12 col-md-12">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Mot de passe *</mat-label>
                            <input matInput placeholder="Ex. @#45gh" formControlName="password" [type]="hide ? 'password' : 'text'">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                          </mat-form-field>
                          <p  *ngIf="studentSignupForm.get('password').invalid && studentSignupForm.get('password').touched" class="message-erreur">
                            *Veuillez saisir votre mot de passe
                            </p>
                    </div>  
                      <div class="col-12 col-md-12">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Diplome <span>*</span></mat-label>
                            <input matInput placeholder="Ex. Licence en Informatique" formControlName="diplome">
                            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                          </mat-form-field>
                          <p  *ngIf="studentSignupForm.get('diplome').invalid && studentSignupForm.get('diplome').touched" class="message-erreur">
                            *champ Vide 
                            </p>
                      </div> 
                      <div class="col-12 col-md-12">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Adresse <span>*</span></mat-label>
                            <input matInput placeholder="Ex. @jhon" formControlName="adress">
                            <mat-icon matSuffix>location_city</mat-icon>
                          </mat-form-field>
                          <p  *ngIf="studentSignupForm.get('adress').invalid && studentSignupForm.get('adress').touched" class="message-erreur">
                            *champ Vide 
                            </p>
                      </div> 
                      <div class="col-12 col-md-12">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Phone <span>*</span></mat-label>
                            <input matInput placeholder="Ex. +216-XX-XXX-XXX" value="+216" formControlName="tel">
                            <mat-icon matSuffix>phone</mat-icon>
                          </mat-form-field>
                          <p  *ngIf="studentSignupForm.get('tel').invalid && studentSignupForm.get('tel').touched" class="message-erreur">
                            *champ Vide 
                            </p>
                      </div> 
                      <div class="col-12 col-md-12">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>CIN <span>*</span></mat-label>
                            <input matInput placeholder="Ex. 12345678" formControlName="cin">
                            <mat-icon matSuffix>dialpad</mat-icon>
                          </mat-form-field>
                          <p  *ngIf="studentSignupForm.get('cin').invalid && studentSignupForm.get('cin').touched" class="message-erreur">
                            *champ Vide 
                            </p>
                      </div> 
                      
                      <div class="col-12 col-md-12">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Date de debut de travail *</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="dateDebutTravail">
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                          </mat-form-field>
                          <p  *ngIf="studentSignupForm.get('dateDebutTravail').invalid && studentSignupForm.get('dateDebutTravail').touched" style="margin-top: 2px;" class="message-erreur">
                            *Veuillez saisir  date de debut de travail
                            </p>
                    </div> 
                      <!-- <div class="col-12 col-md-12 mt-3">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Numéro de téléphone *</mat-label>
                            <input matInput placeholder="Ex. xyz@.com" formControlName="tel" [type]="number">
                            <mat-icon matSuffix>phone</mat-icon>
                          </mat-form-field>
                          <p  *ngIf="studentSignupForm.get('tel').invalid && studentSignupForm.get('tel').touched" class="message-erreur">
                            *Veuillez saisir votre numéro de telephone
                            </p>
                    </div>  -->
                     

          

                      <div class="col-12 col-md-12 d-flex justify-content-between p-2">
                          
                              <button mat-flat-button style="background-color: #1414f8;" class="px-4 col-6">Ajouter</button>
                              <button mat-raised-button color="warn" [mat-dialog-close]="false"  class="px-4 col-4">Fermer</button>
                     
                      </div>
                
                    
    
                  </form><!--end row-->

                  <!-- Student Form End -->

                 
    
                </ng-container>
              </mat-card-content>
          </mat-card>
      
