<aside class="sidebar-wrapper mat-elevation-z9" [ngClass]="{'mini-sidebar' : getSideBarSate()}">
  <div class="sidebar-header">
    <img src="assets/images/logo/MAstergoLogo1.png" width="280" height="200" class="pt-4 ">
    <!-- <div class="logo-name">Matzon Admin</div> -->
  </div>
  <nav class="sidebar-menu">

    <mat-accordion class="example-headers-align" multi>


      <mat-expansion-panel [class.mat-elevation-z0]="true">
        <mat-expansion-panel-header>
          <mat-icon class="material-icons-outlined">dashboard</mat-icon>Dashboard
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLink="dashboard/e-commerce"><mat-icon>arrow_right</mat-icon>eCommerce</a>
          <a mat-list-item routerLink="dashboard/analytics"><mat-icon>arrow_right</mat-icon>Analytics</a>
        </mat-nav-list>
      </mat-expansion-panel>

      <mat-nav-list *ngIf="role == 'AdminSystem'">
        <a mat-list-item routerLink="dashboard/listenseignant"><mat-icon class="material-icons-outlined">assignment_ind</mat-icon>Nos Enseignants</a>
      </mat-nav-list>
      
      <mat-nav-list>
        <a mat-list-item routerLink="dashboard/calendrier"><mat-icon class="material-icons-outlined">perm_contact_calendar</mat-icon>Calendrier Scolaire</a>
      </mat-nav-list>
      
      <!-- <mat-nav-list *ngIf="role == 'Parent'">
        <a mat-list-item routerLink="dashboard/parent"><mat-icon
            class="material-icons-outlined">people_outline</mat-icon>Suivi Vos Enfants</a>
      </mat-nav-list> -->
      <mat-nav-list *ngIf="role ==  'professeur' || role == 'Eleve'">
        <a mat-list-item routerLink="dashboard/exam"><mat-icon
            class="material-icons-outlined">assignment_late</mat-icon>Gestion des examens</a>
      </mat-nav-list>
      <mat-nav-list *ngIf=" role == 'professeur' ">
        <a mat-list-item routerLink="dashboard/notes"><mat-icon
            class="material-icons-outlined">note_add</mat-icon>Gestion des notes</a>
      </mat-nav-list>

      <mat-nav-list *ngIf=" role == 'Eleve'">
        <a mat-list-item routerLink="dashboard/notEleve"><mat-icon
            class="material-icons-outlined">note_add</mat-icon>Gestion des notes</a>
      </mat-nav-list>
      <mat-nav-list *ngIf="role == 'Parent'">
        <a mat-list-item routerLink="dashboard/suivitNote"><mat-icon
            class="material-icons-outlined">note_add</mat-icon>Suivit des notes</a>
      </mat-nav-list>
      
      <mat-nav-list *ngIf="role ==  'professeur'||role == 'Eleve'">
        <a mat-list-item routerLink="dashboard/uploadCours"><mat-icon
            class="material-icons-outlined">book</mat-icon>Gestion Cours</a>
      </mat-nav-list>
      <mat-nav-list *ngIf="role == 'AdminSystem'">
        <a mat-list-item routerLink="dashboard/offres"><mat-icon
            class="material-icons-outlined">event</mat-icon>Gestion des offres</a>
      </mat-nav-list>
      <!-- <mat-nav-list >
        <a mat-list-item routerLink="dashboard/reglements"><mat-icon
            class="material-icons-outlined">aspect_ratio</mat-icon>Gestion des Réglements</a>
      </mat-nav-list> -->
      <mat-nav-list *ngIf="role == 'AdminSystem' ||role == 'Parent'|| role == 'Eleve'">
        <a mat-list-item routerLink="dashboard/seance"><mat-icon
            class="material-icons-outlined">dns</mat-icon>Gestion emploi de temps</a>
      </mat-nav-list>
      <mat-nav-list *ngIf="role == 'AdminSystem'">
        <a mat-list-item routerLink="dashboard/classes"><mat-icon
            class="material-icons-outlined">class</mat-icon>Gestion des Classes</a>
      </mat-nav-list>

      <mat-nav-list *ngIf="role == 'professeur'">
        <a mat-list-item routerLink="dashboard/devoirs"><mat-icon
            class="material-icons-outlined">assignment</mat-icon>Gestion Travaux à la maison</a>
      </mat-nav-list>
      <mat-nav-list *ngIf="role == 'AdminSystem'">
        <a mat-list-item routerLink="dashboard/elev"><mat-icon
          class="material-icons">groups</mat-icon>Gestion des élèves</a>
        </mat-nav-list>
      <!-- <mat-nav-list *ngIf="role == 'AdminSystem'">
        <a mat-list-item routerLink="dashboard/elev"><mat-icon
            class="material-icons-outlined">access_time</mat-icon>Gestion des élèves test</a>
      </mat-nav-list> -->
      
      <mat-nav-list *ngIf="role == 'AdminSystem'">
        <a mat-list-item routerLink="dashboard/slottime"><mat-icon
            class="material-icons-outlined">access_time</mat-icon>Gestion Slots</a>
      </mat-nav-list>
      <mat-nav-list *ngIf="role == 'professeur' ">
        <a mat-list-item routerLink="dashboard/absences"><mat-icon
            class="material-icons-outlined">contact_mail</mat-icon>Gestion des absences</a>
      </mat-nav-list>
      <mat-expansion-panel [class.mat-elevation-z0]="true" *ngIf="role == 'Parent'">
        <mat-expansion-panel-header>
          <!-- <mat-nav-list *ngIf="role == 'Parent'">
            <a mat-list-item routerLink="dashboard/parent"><mat-icon
                class="material-icons-outlined">people_outline</mat-icon>Suivi Vos Enfants</a>
          </mat-nav-list> -->
          <mat-icon class="material-icons-outlined">people_outline</mat-icon>Suivi Vos Enfants
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLink="dashboard/parent"><mat-icon>my_library_books</mat-icon>Mes enfants</a>
          <a mat-list-item routerLink="dashboard/matiere"><mat-icon>my_library_add</mat-icon>Suivit absence</a>
          <a mat-list-item routerLink="dashboard/matiere"><mat-icon>my_library_add</mat-icon>Suivit note</a>
        </mat-nav-list>
      </mat-expansion-panel>
       <mat-nav-list *ngIf="role == 'Parent'|| role == 'Eleve'">
            <a mat-list-item routerLink="dashboard/devoirs"><mat-icon
                class="material-icons-outlined">people_outline</mat-icon>Suivi Travaux à la maison</a>
          </mat-nav-list> 
          <mat-nav-list *ngIf="role == 'Parent'|| role == 'Eleve'|| role == 'professeur'">
            <a mat-list-item routerLink="dashboard/seance"><mat-icon
                class="material-icons-outlined">people_outline</mat-icon>Emploi de temps</a>
          </mat-nav-list> 

      <mat-nav-list *ngIf="role == 'AdminSystem' ">
        <a mat-list-item routerLink="dashboard/matierelist"><mat-icon
            class="material-icons-outlined">my_library_books</mat-icon>Gestion des matiere</a>
      </mat-nav-list>



      <!-- <mat-expansion-panel [class.mat-elevation-z0]="true">
        <mat-expansion-panel-header>
          <mat-icon class="material-icons-outlined">widgets</mat-icon>Widgets
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLink="widgets/static"><mat-icon>arrow_right</mat-icon>Static</a>
          <a mat-list-item routerLink="widgets/data"><mat-icon>arrow_right</mat-icon>Data</a>
        </mat-nav-list>
      </mat-expansion-panel> -->

      <!-- <mat-expansion-panel [class.mat-elevation-z0]="true">
        <mat-expansion-panel-header>
          <mat-icon class="material-icons-outlined">redeem</mat-icon>Components
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLink="components/badges"><mat-icon>arrow_right</mat-icon>Badges</a>
          <a mat-list-item routerLink="components/buttons"><mat-icon>arrow_right</mat-icon>Buttons</a>
          <a mat-list-item routerLink="components/cards"><mat-icon>arrow_right</mat-icon>Cards</a>
          <a mat-list-item routerLink="components/chips"><mat-icon>arrow_right</mat-icon>Chips</a>
          <a mat-list-item routerLink="components/expansion"><mat-icon>arrow_right</mat-icon>Expansion</a>
          <a mat-list-item routerLink="components/menu"><mat-icon>arrow_right</mat-icon>Menu</a>
          <a mat-list-item routerLink="components/list"><mat-icon>arrow_right</mat-icon>List</a>
          <a mat-list-item routerLink="components/tabs"><mat-icon>arrow_right</mat-icon>Tabs</a>
          <a mat-list-item routerLink="components/toolbar"><mat-icon>arrow_right</mat-icon>Toolbar</a>
        </mat-nav-list>
      </mat-expansion-panel> -->

      <!-- <mat-expansion-panel [class.mat-elevation-z0]="true">
        <mat-expansion-panel-header>
          <mat-icon class="material-icons-outlined">description</mat-icon>Forms
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLink="forms/elements"><mat-icon>arrow_right</mat-icon>Elements</a>
          <a mat-list-item routerLink="forms/layouts"><mat-icon>arrow_right</mat-icon>Layouts</a>
        </mat-nav-list>
      </mat-expansion-panel> -->

      <!-- <mat-expansion-panel [class.mat-elevation-z0]="true">
        <mat-expansion-panel-header>
          <mat-icon class="material-icons-outlined">privacy_tip</mat-icon>Tables
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLink="tables/basic-table"><mat-icon>arrow_right</mat-icon>Basic Tables</a>
          <a mat-list-item routerLink="tables/paging-table"><mat-icon>arrow_right</mat-icon>Paging Table</a>
          <a mat-list-item routerLink="tables/sorting-table"><mat-icon>arrow_right</mat-icon>Sorting Table</a>
        </mat-nav-list>
      </mat-expansion-panel> -->

      <!-- <mat-expansion-panel [class.mat-elevation-z0]="true">
        <mat-expansion-panel-header>
          <mat-icon class="material-icons-outlined">lock</mat-icon>Authentication
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLink="auth/sign-in" target="_blank"><mat-icon>arrow_right</mat-icon>SignIn</a>
          <a mat-list-item routerLink="auth/cover-signin" target="_blank"><mat-icon>arrow_right</mat-icon>SignIn
            Cover</a>
          <a mat-list-item routerLink="auth/sign-up" target="_blank"><mat-icon>arrow_right</mat-icon>SignUp</a>
          <a mat-list-item routerLink="auth/cover-signup" target="_blank"><mat-icon>arrow_right</mat-icon>SignUp
            Cover</a>
          <a mat-list-item routerLink="auth/forgot-password" target="_blank"><mat-icon>arrow_right</mat-icon>Forgot
            Password</a>
          <a mat-list-item routerLink="auth/cover-forgot-password"
            target="_blank"><mat-icon>arrow_right</mat-icon>Forgot Password Cover</a>
          <a mat-list-item routerLink="auth/reset-password" target="_blank"><mat-icon>arrow_right</mat-icon>Reset
            Password</a>
          <a mat-list-item routerLink="auth/cover-reset-password" target="_blank"><mat-icon>arrow_right</mat-icon>Reset
            Password Cover</a>
          <a mat-list-item routerLink="auth/lock-screen" target="_blank"><mat-icon>arrow_right</mat-icon>Lock Screen</a>
        </mat-nav-list>
      </mat-expansion-panel> -->

      <mat-nav-list>
        <a mat-list-item routerLink="profile/user-profile"><mat-icon
            class="material-icons-outlined">account_circle</mat-icon>User Profile</a>
      </mat-nav-list>

      <!-- <mat-nav-list>
        <a mat-list-item routerLink="pricing/pricing"><mat-icon
            class="material-icons-outlined">credit_card</mat-icon>Pricing</a>
      </mat-nav-list> -->

      <!-- <mat-expansion-panel [class.mat-elevation-z0]="true">
        <mat-expansion-panel-header>
          <mat-icon class="material-icons-outlined">report_problem</mat-icon>Pages
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLink="pages/error-404" target="_blank"><mat-icon>arrow_right</mat-icon>404 Error</a>
          <a mat-list-item routerLink="pages/error-505" target="_blank"><mat-icon>arrow_right</mat-icon>505 Error</a>
          <a mat-list-item routerLink="pages/coming-soon" target="_blank"><mat-icon>arrow_right</mat-icon>Coming
            Soon</a>
        </mat-nav-list>
      </mat-expansion-panel> -->


      <!-- <mat-nav-list>
        <a mat-list-item routerLink="faq/faq"><mat-icon class="material-icons-outlined">help_outline</mat-icon>FAQ</a>
      </mat-nav-list> -->

      <!-- <mat-expansion-panel [class.mat-elevation-z0]="true">
        <mat-expansion-panel-header>
          <mat-icon class="material-icons-outlined">leaderboard</mat-icon>Charts
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLink="charts/chart-js"><mat-icon>arrow_right</mat-icon>Chart Js</a>
          <a mat-list-item routerLink="charts/apex-chart"><mat-icon>arrow_right</mat-icon>Apex Chart</a>
        </mat-nav-list>
      </mat-expansion-panel> -->

      <!-- <mat-nav-list>
        <a mat-list-item href="https://codervent.com/matzon/doc/" target="_blank"><mat-icon
            class="material-icons-outlined">description</mat-icon>Documentation</a>
      </mat-nav-list> -->

    </mat-accordion>

  </nav>
</aside>