<mat-card class="rounded-4">
    <mat-card-content class="p-4">
        <div class="price-content text-center">
           <h4>Choose Your Pricing Plan</h4>
           <p class="mb-0">All Plans FREE for the first 45 days</p>    
           
           <div class="d-flex align-items-center justify-content-center mt-4 gap-3">
              <p class="mb-0">Monthly</p>
              <mat-slide-toggle></mat-slide-toggle>
              <p class="mb-0">Yearly</p>
           </div>

        </div>
        <div class="plans-cards mt-5">
             <div class="row g-4">
                <div class="col-12 col-lg-4">
                   <mat-card class="shadow-none border rounded-4">
                      <mat-card-content class="p-4">
                          <div class="text-start">
                             <h4 class="mb-0">Basic</h4>
                             <p>Starter</p>  
                          </div>
                          <div class="price-box d-flex align-items-center gap-1 justify-content-start my-5">
                             <div class="curency align-self-start">$</div>
                             <div class="price">199</div>
                             <div class="time align-self-end">/month</div>
                          </div>
                          <div class="features d-flex flex-column gap-3 mx-auto">
                            <p class="mb-0 d-flex align-items-center gap-2"><span class="material-icons-outlined fs-5 text-blue">done</span><span>50GB Disk Space</span></p>
                            <p class="mb-0 d-flex align-items-center gap-2"><span class="material-icons-outlined fs-5 text-blue">done</span><span>50GB Bandwidth</span></p>
                            <p class="mb-0 d-flex align-items-center gap-2"><span class="material-icons-outlined fs-5 text-blue">done</span><span>20 Email Accounts</span></p>
                            <p class="mb-0 d-flex align-items-center gap-2"><span class="material-icons-outlined fs-5 text-blue">done</span><span>Subdomains</span></p>
                            <p class="mb-0 d-flex align-items-center gap-2"><span class="material-icons-outlined fs-5 text-blue">close</span><span>Maintenence</span></p>
                          </div>
                          <div class="d-grid mt-4">
                              <button mat-stroked-button color="primary" class="rounded-4 mat-light-bg-indigo">Get Started</button>
                          </div>
                      </mat-card-content>
                   </mat-card>
                </div>
                <div class="col-12 col-lg-4">
                    <mat-card class="shadow-none border rounded-4">
                        <mat-card-content class="p-4">
                            <div class="text-start">
                               <h4 class="mb-0">Standard</h4>
                               <p>Bettar results</p>  
                            </div>
                            <div class="price-box d-flex align-items-center gap-1 justify-content-start my-5">
                               <div class="curency align-self-start">$</div>
                               <div class="price">199</div>
                               <div class="time align-self-end">/month</div>
                            </div>
                            <div class="features d-flex flex-column gap-3 mx-auto">
                              <p class="mb-0 d-flex align-items-center gap-2"><span class="material-icons-outlined fs-5 text-blue">done</span><span>50GB Disk Space</span></p>
                              <p class="mb-0 d-flex align-items-center gap-2"><span class="material-icons-outlined fs-5 text-blue">done</span><span>50GB Bandwidth</span></p>
                              <p class="mb-0 d-flex align-items-center gap-2"><span class="material-icons-outlined fs-5 text-blue">done</span><span>20 Email Accounts</span></p>
                              <p class="mb-0 d-flex align-items-center gap-2"><span class="material-icons-outlined fs-5 text-blue">done</span><span>Subdomains</span></p>
                              <p class="mb-0 d-flex align-items-center gap-2"><span class="material-icons-outlined fs-5 text-blue">close</span><span>Maintenence</span></p>
                            </div>
                            <div class="d-grid mt-4">
                                <button mat-flat-button color="primary" class="rounded-4">Choose Plan</button>
                            </div>
                        </mat-card-content>
                     </mat-card>
                 </div>
                 <div class="col-12 col-lg-4">
                    <mat-card class="shadow-none border rounded-4">
                        <mat-card-content class="p-4">
                            <div class="text-start">
                               <h4 class="mb-0">Premium</h4>
                               <p>Go all in one</p>  
                            </div>
                            <div class="price-box d-flex align-items-center gap-1 justify-content-start my-5">
                               <div class="curency align-self-start">$</div>
                               <div class="price">199</div>
                               <div class="time align-self-end">/month</div>
                            </div>
                            <div class="features d-flex flex-column gap-3 mx-auto">
                              <p class="mb-0 d-flex align-items-center gap-2"><span class="material-icons-outlined fs-5 text-blue">done</span><span>50GB Disk Space</span></p>
                              <p class="mb-0 d-flex align-items-center gap-2"><span class="material-icons-outlined fs-5 text-blue">done</span><span>50GB Bandwidth</span></p>
                              <p class="mb-0 d-flex align-items-center gap-2"><span class="material-icons-outlined fs-5 text-blue">done</span><span>20 Email Accounts</span></p>
                              <p class="mb-0 d-flex align-items-center gap-2"><span class="material-icons-outlined fs-5 text-blue">done</span><span>Subdomains</span></p>
                              <p class="mb-0 d-flex align-items-center gap-2"><span class="material-icons-outlined fs-5 text-blue">close</span><span>Maintenence</span></p>
                            </div>
                            <div class="d-grid mt-4">
                                <button mat-stroked-button color="primary" class="rounded-4 mat-light-bg-indigo">Get Started</button>
                            </div>
                        </mat-card-content>
                     </mat-card>
                 </div>

             </div>  
        </div>
    </mat-card-content>
</mat-card>