<div class="container mt-5">
    <h2>{{ matiereId ? 'Modifier' : 'Ajouter' }} Matière</h2>
    <form [formGroup]="matiereForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="nomMatiere" class="form-label">Nom de la Matière</label>
            <input id="nomMatiere" formControlName="nomMatiere" class="form-control" required />
        </div>
        <div class="mb-3">
            <label for="coeficient" class="form-label">Coefficient</label>
            <input id="coeficient" formControlName="coeficient" class="form-control" required />
        </div>
        <div class="mb-3">
            <label for="nombreHeure" class="form-label">Nombre d'Heures</label>
            <input id="nombreHeure" formControlName="nombreHeure" class="form-control" required />
        </div>
        <div class="mb-3">
            <label for="nombreExamen" class="form-label">Nombre d'Examens</label>
            <input id="nombreExamen" formControlName="nombreExamen" class="form-control" required />
        </div>


        <button type="submit" class="btn btn-primary">{{ matiereId ? 'Mettre à jour' : 'Ajouter' }}</button>
        <button type="button" class="btn btn-secondary" (click)="onCancel()">Annuler</button>
    </form>
</div>