<!-- <div class="col-12 col-lg-12 col-xxl-12 d-flex"> -->
    <mat-card class="rounded-4 w-100 mx-auto" >
      <mat-card-content class="d-flex justify-content-center " >
        <div >
          <div class="d-flex justify-content-center align-items-center gap-2 mb-2">
            <h5 class="mb-0  ">Félicitations <span style="letter-spacing: 5px;" class="ms-2 fw-bold">{{fullname}}</span></h5>
            <img src="assets/images/app/party-popper.png" width="24" height="24" alt="">
          </div>
          <p class="mb-4 fs-3">Vous êtes connecté en tant que {{role}} </p>
          <div class="d-flex align-items-center justify-content-center">
           
            <img src="assets/images/welcome.jpg" width="400px" height="120px" alt="">
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  <!-- </div> -->