

.card-avatar1 {
    background-image: url('https://placehold.co/110x110');
    background-size: cover;
  }


.card-avatar2  {
  background-image: url('https://placehold.co/110x110');
  background-size: cover;
}

.card-avatar3  {
  background-image: url('https://placehold.co/110x110');
  background-size: cover;
  }